@page "/Error"
@using System.Diagnostics

<PageTitle>@T["Error"]</PageTitle>

<h1 class="text-danger">@T["Error."]</h1>
<h2 class="text-danger">@T["An error occurred while processing your request."]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@T["Request ID:"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@T["Development Mode"]</h3>
<p>
    @T["Swapping to Development environment will display more detailed information about the error that occurred."]
</p>
<p>
    <strong>@T["The Development environment shouldn't be enabled for deployed applications."]</strong>
    @T["It can result in displaying sensitive information from exceptions to end users."]
    @T["For local debugging, enable the Development environment by setting the ASPNETCORE_ENVIRONMENT environment variable to Development and restarting the app."]
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
